<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cars_Parking_Services</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/payment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cars_Parking_Services.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <div class="page-wrapper">
        <!--<aside class="menu-lateral-container" id="menu-lateral">
            <div class="div-cerrar-menu">
                <i class="fa-solid fa-x" id="cerrar-menu-lateral"></i>
            </div>
            <div class="usuario">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="menu-lateral">
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-controller="Home" asp-action="Tabla_Vehiculos">Tabla Vehiculos</a></li>
                    <li><a asp-controller="Home" asp-action="Ingreso_Vehiculos">Ingresar Vehiculo</a></li>
                    <li><a asp-controller="Payment" asp-action="Pago">Pago</a></li>
                    <li><a asp-controller="Payment" asp-action="Estado_Servicio">Estado Del Servicio</a></li>
                    <li><a asp-controller="Auth" asp-action="" id="cerrar-sesion">Cerrar Sesión</a></li>
                </ol>
            </div>
        </aside>
        <div class="div-abrir-menu" id="div-abrir-menu">
            <i class="fa-solid fa-bars" id="abrir-menu-lateral"></i>
        </div>-->

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pago.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>